@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body {
    background-color: rgba(77, 33, 13, 0.83);
}

.retsept-heading{
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    color: white;
}

img {width: 280px;}

.tabel{
    color: white;
}

.valmistamine{
    color: white;
}

.link{
    color: burlywood;
}

.footer {
    font-family: 'Amatic SC', sans-serif;
    font-size: 2rem;
    text-align: center;
    color:white;
}